Repository yaccob/teds: changes, and which pre-commit hooks are due for each by the changed paths.
All: unit-tests, schema-validation, bdd-tests, venv-check

.pre-commit-config.yaml:

# Pre-commit configuration for TeDS project
# All tool settings are centralized in pyproject.toml
repos:
  # Import sorting - reads config from pyproject.toml
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  # Linting and formatting - reads config from pyproject.toml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]
      - id: ruff-format

  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.html$'  # Exclude generated HTML files
      - id: end-of-file-fixer
        exclude: '\.html$'  # Exclude generated HTML files
      - id: check-yaml
        args: ["--unsafe"]  # Allow custom YAML tags
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: debug-statements
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-log-warn

  # Local hooks for project-specific validation
  - repo: local
    hooks:
      # Fast unit tests with coverage (critical quality gate)
      # Coverage config and fail_under threshold read from pyproject.toml
      - id: unit-tests
        name: Run unit tests with coverage
        entry: bash -c 'source .venv/bin/activate && pytest tests/unit --cov=teds_core --cov=teds --cov-branch --cov-report=term-missing -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

      # Schema validation (critical for TeDS functionality)
      - id: schema-validation
        name: Validate spec_schema.yaml
        entry: bash -c 'source .venv/bin/activate && python -m teds_core.cli verify spec_schema.tests.yaml --output-level error'
        language: system
        files: ^(spec_schema\.(yaml|tests\.yaml)|teds_core/validate\.py|teds_core/refs\.py)$
        pass_filenames: false
        stages: [pre-commit]

      # BDD integration tests (critical for TeDS CLI functionality)
      - id: bdd-tests
        name: Run BDD integration tests
        entry: bash -c 'source .venv/bin/activate && pytest tests/bdd --tb=short -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

      # Check that virtual environment is activated
      - id: venv-check
        name: Ensure virtual environment is activated
        entry: bash
        args: ["-c", "if [[ \"$VIRTUAL_ENV\" != *\".venv\"* ]]; then echo \"‚ùå Virtual environment not activated. Run: source .venv/bin/activate\"; exit 1; fi"]
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

      # CRITICAL: Prevent commits to master/main branches
      - id: prevent-master-commits
        name: Block commits to master/main branches
        entry: bash
        args: ["-c", "BRANCH=$(git branch --show-current); if [[ \"$BRANCH\" == \"master\" ]] || [[ \"$BRANCH\" == \"main\" ]]; then echo \"üö´ BLOCKED: Direct commits to master/main forbidden!\"; echo \"üí° Create feature branch: git checkout -b feature/your-feature\"; exit 1; fi"]
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-commit]

# Global settings
default_stages: [pre-commit]
fail_fast: false
minimum_pre_commit_version: '3.0.0'

fix: remove additional leftovers from old repository setup
  Makefile
  SESSION_NOTES.md
Due: none

fix: update project references from 'contest' to 'teds' and make paths portable (#84)
  Makefile
  SESSION_NOTES.md
  demo/sample_schemas.components+schemas.tests.yaml
  docs/presentation/index.adoc
  hooks/pre-commit-protected
  tests/cases/format_divergence/spec.report.md
Due: none

fix: resolve relative path issues and convert unit tests to new generate logic
  logging.yaml
  teds_core/cli.py
  teds_core/generate.py
  tests/bdd/features/generate.feature
  tests/bdd/test_generate.py
  tests/unit/test_generate_path_behavior_unit.py
  tests/unit/test_generate_unit.py
  tests/unit/test_generate_yaml_config_unit.py
Due: unit-tests, bdd-tests, venv-check

fix: resolve relative path issues and convert unit tests to new generate logic (#85)
  logging.yaml
  teds_core/cli.py
  teds_core/generate.py
  tests/bdd/features/generate.feature
  tests/bdd/test_generate.py
  tests/unit/test_generate_path_behavior_unit.py
  tests/unit/test_generate_unit.py
  tests/unit/test_generate_yaml_config_unit.py
Due: unit-tests, bdd-tests, venv-check

docs: clarify template variable availability for JSON Pointer vs JSON Path syntax
  docs/tutorial.adoc
Due: none

docs: clarify template variable availability for JSON Pointer vs JSON Path syntax (#86)
  docs/tutorial.adoc
Due: none

remove static tutorial.html to allow Jekyll processing of tutorial.adoc
  docs/tutorial.html
Due: none

remove static tutorial.html to allow Jekyll processing of tutorial.adoc (#87)
  docs/tutorial.html
Due: none

docs: regenerate tutorial.html from updated tutorial.adoc
  docs/tutorial.html
Due: none

docs: regenerate tutorial.html from updated tutorial.adoc (#88)
  docs/tutorial.html
Due: none

docs: using --output-level=all for report generation in README.md
  README.md
  demo/sample_schemas.tests.yaml
  demo/sample_tests.report.html
Due: none

docs: using --output-level=all for report generation in README.md (#89)
  README.md
  demo/sample_schemas.tests.yaml
  demo/sample_tests.report.html
Due: none

workflow: add automatic tutorial.html generation from tutorial.adoc
  .github/workflows/docs.yml
Due: none

workflow: add automatic tutorial.html generation from tutorial.adoc (#90)
  .github/workflows/docs.yml
Due: none

fix: include user warnings in report message column across all templates
  templates/default.adoc.j2
  templates/default.html.j2
  templates/default.md.j2
Due: none

fix: include user warnings in report message column across all templates (#91)
  templates/default.adoc.j2
  templates/default.html.j2
  templates/default.md.j2
Due: none

feat: enhance HTML report with left-side TOC and full schema depth navigation
  demo/sample_tests.report.adoc
  demo/sample_tests.report.html
  templates/default.html.j2
Due: none

feat: enhance HTML report with left-side TOC and full schema depth navigation (#92)
  demo/sample_tests.report.adoc
  demo/sample_tests.report.html
  templates/default.html.j2
Due: none

refactor: remove duplicate template expansion and obsolete {index} variable
  teds_core/cli.py
  teds_core/utils.py
Due: unit-tests, bdd-tests, venv-check

refactor: remove duplicate template expansion and obsolete {index} variable (#93)
  teds_core/cli.py
  teds_core/utils.py
Due: unit-tests, bdd-tests, venv-check

docs: update CLAUDE.md to reflect actual project status
  CLAUDE.md
Due: none

docs: enforce absolute prohibition of attribution markers in commits
  CLAUDE.md
Due: none

docs: update CLAUDE.md status documentation (#95)
  CLAUDE.md
Due: none

docs: update CLAUDE.md status documentation (#95)
  CLAUDE.md
  docs/web-app-concept.md
Due: none

docs: update CLAUDE.md status documentation (#95) (#96)
  docs/web-app-concept.md
Due: none

refactor: move web-app-concept.md to repository root
  web-app-concept.md
Due: none

refactor: move web-app-concept.md to repository root (#97)
  web-app-concept.md
Due: none

feat: implement persistent schema cache system
  teds_core/cache.py
  teds_core/cli.py
  teds_core/refs.py
Due: unit-tests, schema-validation, bdd-tests, venv-check

test: add comprehensive unit tests for schema cache system
  teds_core/cache.py
  tests/unit/test_cache_unit.py
Due: unit-tests, bdd-tests, venv-check

feat: implement persistent schema cache system (#98)
  teds_core/cache.py
  teds_core/cli.py
  teds_core/refs.py
  tests/unit/test_cache_unit.py
Due: unit-tests, schema-validation, bdd-tests, venv-check

feat: integrate persistent schema cache across all operations
  teds_core/cli.py
  teds_core/generate.py
  teds_core/report.py
  teds_core/validate.py
Due: unit-tests, schema-validation, bdd-tests, venv-check

feat: integrate persistent schema cache across all operations (#99)
  teds_core/cli.py
  teds_core/generate.py
  teds_core/report.py
  teds_core/validate.py
Due: unit-tests, schema-validation, bdd-tests, venv-check

feat: optimize cache pointer performance with preemptive multi-pointer caching
  CACHE_PERFORMANCE_ANALYSIS.md
  benchmark_cache.py
  benchmark_cache_optimized.py
  benchmark_comparison.py
  benchmark_results_current.json
  benchmark_results_optimized.json
  teds_core/cache.py
  teds_core/refs.py
  tests/unit/test_cache_unit.py
Due: unit-tests, schema-validation, bdd-tests, venv-check

feat: optimize cache pointer performance with preemptive multi-pointer caching (#100)
  CACHE_PERFORMANCE_ANALYSIS.md
  benchmark_cache.py
  benchmark_cache_optimized.py
  benchmark_comparison.py
  benchmark_results_current.json
  benchmark_results_optimized.json
  teds_core/cache.py
  teds_core/refs.py
  tests/unit/test_cache_unit.py
Due: unit-tests, schema-validation, bdd-tests, venv-check
