Repository yaccob/teds: changes, and which pre-commit hooks are due for each by the changed paths.
All: unit-tests, schema-validation, bdd-tests, venv-check

unit-tests:
  name: Run unit tests with coverage
  entry: bash -c 'source .venv/bin/activate && pytest tests/unit --cov=teds_core --cov=teds --cov-branch --cov-report=term-missing -q'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

schema-validation:
  name: Validate spec_schema.yaml
  entry: bash -c 'source .venv/bin/activate && python -m teds_core.cli verify spec_schema.tests.yaml --output-level error'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bdd-tests:
  name: Run BDD integration tests
  entry: bash -c 'source .venv/bin/activate && pytest tests/bdd/test_cli_argument_parsing.py tests/bdd/test_report_extensions.py tests/bdd/test_template_integer_handling.py -x --tb=short -q'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

venv-check:
  name: Ensure virtual environment is activated
  entry: bash
  args:
  - -c
  - 'if [[ "$VIRTUAL_ENV" != *".venv"* ]]; then echo "‚ùå Virtual environment not activated. Run: source .venv/bin/activate"; exit 1; fi'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: restore invalid test cases and correct validation error expectations (#69)
  tests/bdd/features/cli_argument_parsing.feature
Due: none

fix: comprehensive tutorial cleanup and AsciiDoc corrections (#70)
  Makefile
  docs/index.html
  docs/tutorial-with-fixed-toc.html
  docs/tutorial.adoc
  docs/tutorial.html
  docs/tutorial.md
Due: none

Fix tutorial chapter organization and add commit message validation hook (#71)
  docs/tutorial.adoc
  docs/tutorial.html
  hooks/commit-msg
Due: none

fix: comprehensive BDD test suite improvements achieving 100% success rate
  tests/bdd/features/tutorial_examples.feature
  tests/bdd/test_tutorial_examples.py
  tests/bdd/test_tutorial_examples_simple.py
  tests/bdd/test_tutorial_json_path_quick.py
  tests/bdd/test_tutorial_json_path_verification.py
Due: unit-tests, bdd-tests, venv-check

fix: comprehensive BDD test suite improvements achieving 100% success rate (#72)
  tests/bdd/features/tutorial_examples.feature
  tests/bdd/test_tutorial_examples.py
  tests/bdd/test_tutorial_examples_simple.py
  tests/bdd/test_tutorial_json_path_quick.py
  tests/bdd/test_tutorial_json_path_verification.py
Due: unit-tests, bdd-tests, venv-check

fix: resolve absolute path generation and improve test coverage
  teds_core/cli.py
  tests/bdd/features/json_pointer_tests.feature
  tests/bdd/test_json_pointer.py
  tests/bdd/test_jsonpath.py
  tests/unit/test_generate_path_behavior_unit.py
Due: unit-tests, bdd-tests, venv-check

fix: resolve absolute path generation and improve test coverage (#73)
  teds_core/cli.py
  tests/bdd/features/json_pointer_tests.feature
  tests/bdd/test_json_pointer.py
  tests/bdd/test_jsonpath.py
  tests/unit/test_generate_path_behavior_unit.py
Due: unit-tests, bdd-tests, venv-check

feat: unify JSON-Pointer and JSON-Path output filename behavior
  .pre-commit-config.yaml
  examples/address_list/address_list.tests.yaml
  teds_core/cli.py
  tests/bdd/features/cli_comprehensive.feature
  tests/bdd/features/cli_essentials.feature
  tests/bdd/features/json_pointer_tests.feature
  tests/bdd/features/jsonpath_tests.feature
  tests/bdd/features/tutorial_examples.feature
  tests/bdd/test_cli_essentials.py
  tests/bdd/test_jsonpath.py
  tests/bdd/test_tutorial_examples.py
  tests/bdd/test_tutorial_examples_simple.py
  tests/bdd/test_tutorial_json_path_quick.py
  tests/bdd/test_tutorial_json_path_verification.py
  tests/unit/test_generate_path_behavior_unit.py
  tests/unit/test_generate_yaml_config_unit.py
Due: unit-tests, bdd-tests, venv-check

feat: unify JSON-Pointer and JSON-Path output filename behavior (#74)
  .pre-commit-config.yaml
  examples/address_list/address_list.tests.yaml
  teds_core/cli.py
  tests/bdd/features/cli_comprehensive.feature
  tests/bdd/features/cli_essentials.feature
  tests/bdd/features/json_pointer_tests.feature
  tests/bdd/features/jsonpath_tests.feature
  tests/bdd/features/tutorial_examples.feature
  tests/bdd/test_cli_essentials.py
  tests/bdd/test_jsonpath.py
  tests/bdd/test_tutorial_examples.py
  tests/bdd/test_tutorial_examples_simple.py
  tests/bdd/test_tutorial_json_path_quick.py
  tests/bdd/test_tutorial_json_path_verification.py
  tests/unit/test_generate_path_behavior_unit.py
  tests/unit/test_generate_yaml_config_unit.py
Due: unit-tests, bdd-tests, venv-check

feat: streamline BDD test suite to focus on core features
  tests/bdd/features/cli_argument_parsing.feature
  tests/bdd/features/cli_comprehensive.feature
  tests/bdd/features/cli_essentials.feature
  tests/bdd/features/generate.feature
  tests/bdd/features/json_pointer_tests.feature
  tests/bdd/features/jsonpath_tests.feature
  tests/bdd/features/report_extensions.feature
  tests/bdd/features/reports.feature
  tests/bdd/features/template_integer_handling.feature
  tests/bdd/features/verify.feature
  tests/bdd/test_cli_argument_parsing.py
  tests/bdd/test_cli_comprehensive.py
  tests/bdd/test_cli_essentials.py
  tests/bdd/test_generate.py
  tests/bdd/test_generate_python.py
  tests/bdd/test_json_pointer.py
  tests/bdd/test_jsonpath.py
  tests/bdd/test_report_extensions.py
  tests/bdd/test_reports.py
  tests/bdd/test_template_integer_handling.py
  tests/bdd/test_tutorial_examples.py
  tests/bdd/test_tutorial_examples_simple.py
  tests/bdd/test_tutorial_json_path_quick.py
  tests/bdd/test_tutorial_json_path_verification.py
  tests/bdd/test_verify.py
  tests/bdd/test_verify_python.py
Due: unit-tests, bdd-tests, venv-check

feat: streamline BDD test suite to focus on core features (#75)
  tests/bdd/features/cli_argument_parsing.feature
  tests/bdd/features/cli_comprehensive.feature
  tests/bdd/features/cli_essentials.feature
  tests/bdd/features/generate.feature
  tests/bdd/features/json_pointer_tests.feature
  tests/bdd/features/jsonpath_tests.feature
  tests/bdd/features/report_extensions.feature
  tests/bdd/features/reports.feature
  tests/bdd/features/template_integer_handling.feature
  tests/bdd/features/verify.feature
  tests/bdd/test_cli_argument_parsing.py
  tests/bdd/test_cli_comprehensive.py
  tests/bdd/test_cli_essentials.py
  tests/bdd/test_generate.py
  tests/bdd/test_generate_python.py
  tests/bdd/test_json_pointer.py
  tests/bdd/test_jsonpath.py
  tests/bdd/test_report_extensions.py
  tests/bdd/test_reports.py
  tests/bdd/test_template_integer_handling.py
  tests/bdd/test_tutorial_examples.py
  tests/bdd/test_tutorial_examples_simple.py
  tests/bdd/test_tutorial_json_path_quick.py
  tests/bdd/test_tutorial_json_path_verification.py
  tests/bdd/test_verify.py
  tests/bdd/test_verify_python.py
Due: unit-tests, bdd-tests, venv-check

cleanup: remove redundant BDD test files and unused conftest
  tests/bdd/__init__.py
  tests/bdd/conftest.py
  tests/bdd/test_generate_python.py
  tests/bdd/test_verify_python.py
Due: unit-tests, bdd-tests, venv-check

cleanup: remove redundant BDD test files and unused conftest (#76)
  tests/bdd/__init__.py
  tests/bdd/conftest.py
  tests/bdd/test_generate_python.py
  tests/bdd/test_verify_python.py
Due: unit-tests, bdd-tests, venv-check

feat: add status messages to stderr for all CLI operations
  examples/address_list/address_list.tests.yaml
  teds_core/cli.py
  teds_core/generate.py
  tests/bdd/features/generate.feature
  tests/bdd/features/reports.feature
  tests/bdd/features/verify.feature
  tests/bdd/test_generate.py
  tests/bdd/test_reports.py
  tests/bdd/test_verify.py
Due: unit-tests, bdd-tests, venv-check

feat: add status messages to stderr for all CLI operations (#77)
  examples/address_list/address_list.tests.yaml
  teds_core/cli.py
  teds_core/generate.py
  tests/bdd/features/generate.feature
  tests/bdd/features/reports.feature
  tests/bdd/features/verify.feature
  tests/bdd/test_generate.py
  tests/bdd/test_reports.py
  tests/bdd/test_verify.py
Due: unit-tests, bdd-tests, venv-check

refactor: centralize path utility to eliminate code duplication
  teds_core/cli.py
  teds_core/generate.py
  teds_core/utils.py
  tests/bdd/features/generate.feature
  tests/bdd/features/reports.feature
  tests/bdd/features/verify.feature
  tests/bdd/test_generate.py
  tests/bdd/test_reports.py
  tests/bdd/test_verify.py
Due: unit-tests, bdd-tests, venv-check

refactor: centralize path utility to eliminate code duplication (#78)
  teds_core/cli.py
  teds_core/generate.py
  teds_core/utils.py
  tests/bdd/features/generate.feature
  tests/bdd/features/reports.feature
  tests/bdd/features/verify.feature
  tests/bdd/test_generate.py
  tests/bdd/test_reports.py
  tests/bdd/test_verify.py
Due: unit-tests, bdd-tests, venv-check

feat: implement comprehensive template system with RFC 6901 escaping
  CLAUDE.md
  demo/public_specs.report.adoc
  docs/tutorial.adoc
  examples/address_list/address_list_specs.report.html
  requirements.txt
  teds_core/cli.py
  teds_core/generate.py
  teds_core/refs.py
  teds_core/utils.py
  tests/bdd/features/generate.feature
  tests/bdd/features/reports.feature
  tests/bdd/features/verify.feature
  tests/bdd/test_generate.py
  tests/bdd/test_reports.py
  tests/bdd/test_verify.py
  tests/cli/test_errors.py
  tests/unit/test_generate_jsonpath_expansion_unit.py
  tests/unit/test_generate_parser_unit.py
  tests/unit/test_utils.py
Due: unit-tests, schema-validation, bdd-tests, venv-check

feat: implement comprehensive template system with RFC 6901 escaping (#79)
  CLAUDE.md
  demo/public_specs.report.adoc
  docs/tutorial.adoc
  examples/address_list/address_list_specs.report.html
  requirements.txt
  teds_core/cli.py
  teds_core/generate.py
  teds_core/refs.py
  teds_core/utils.py
  tests/bdd/features/generate.feature
  tests/bdd/test_generate.py
  tests/cli/test_errors.py
  tests/unit/test_generate_jsonpath_expansion_unit.py
  tests/unit/test_generate_parser_unit.py
  tests/unit/test_utils.py
Due: unit-tests, schema-validation, bdd-tests, venv-check

fix: resolve PyPI deployment failure by copying schema file to temp directory
  .github/workflows/release.yml
Due: none

fix: resolve PyPI deployment failure by copying schema file to temp directory (#80)
  .github/workflows/release.yml
Due: none

fix: resolve package-smoke workflow failure with same path resolution issue
  .github/workflows/package-smoke.yml
Due: none

fix: resolve package-smoke workflow failure with same path resolution issue (#81)
  .github/workflows/package-smoke.yml
Due: none

feat: add CLI shorthand and comprehensive address list test examples
  examples/address_list/address_list.tests.yaml
  teds_core/cli.py
Due: unit-tests, bdd-tests, venv-check

feat: add CLI shorthand and comprehensive address list test examples (#82)
  examples/address_list/address_list.tests.yaml
  teds_core/cli.py
Due: unit-tests, bdd-tests, venv-check

docs: update coverage requirements from 75%/73% to 85% in CLAUDE.md
  CLAUDE.md
Due: none

feat: add BDD test support and improve test infrastructure
  Makefile
  requirements-dev.txt
Due: none

fix: update project references from 'contest' to 'teds' and make paths portable
  Makefile
  demo/sample_schemas.components+schemas.tests.yaml
  docs/presentation/index.adoc
  hooks/pre-commit-protected
  tests/cases/format_divergence/spec.report.md
Due: none

Path conditions:
  unit-tests: any of: \.py$
  schema-validation: any of: ^(spec_schema\.(yaml|tests\.yaml)|teds_core/validate\.py|teds_core/refs\.py)$
  bdd-tests: any of: \.py$
  venv-check: any of: \.py$
